@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
}

@layer base {
    [class~="dark"] {
        color-scheme: dark;
    }
}

@layer components {
    .dark {
        --tw-bg-opacity: 1;
        background-color: #0f172a;
    }

    .hide-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .btn-ripple {
        @apply transition-all duration-150 active:scale-[0.97];
    }
}
